@import './reset.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600;900&display=swap');

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  font-family: 'Noto Serif KR', serif;
  background: url('../images/background.jpg') center/cover no-repeat;
}

.app {
  width: 100%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.35);
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #666;
  padding: 20px 0;
}

.header__title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  opacity: 0.7;
}

.header__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btns .btn {
  padding: 10px;
  font-size: 1.4rem;
  margin-right: 15px;
  cursor: pointer;
}

.document {
  height: 100%;
  overflow-y: auto;
}

.list {
  padding: 0 15px;
}

.list-item {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-item h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}

.list-item__controls {
  position: absolute;
  right: 0;
  top: 12px;
}

.list-item__controls .close {
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}

.list-item__controls .close:hover {
  opacity: 0.4;
}

.media {
  display: flex;
}

.media .media__holder {
  width: 40%;
  max-height: 220px;
  overflow: hidden;
  text-align: center;
}

.media .media__title {
  width: 60%;
  word-break: break-all;
  padding: 0 20px;
}

.media.image .img {
  width: 100%;
}

.media.video .iframe {
  width: 100%;
  min-height: 250px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #666;
}

.footer__copyright {
  font-size: 1rem;
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.4);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4em;
  width: 32em;
  height: 32em;
  border-radius: 0.5rem;
  background: #ccc;
  position: relative;
}

.dialog .dialog__body {
  width: 100%;
  height: 100%;
}

.input-form {
  padding: 0 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-form .form__container {
  margin-bottom: 20px;
  display: flex;
}

.input-form .form__container:last-child {
  flex: 1;
}

.input-form label + input {
  border-bottom: 1px solid #aaa;
  padding: 0 15px 10px;
  font-size: 17px;
  font-family: 'Noto Serif KR', serif;
  flex: 1;
}

.input-form label + textarea {
  font-size: 17px;
  padding: 5px;
  outline: none;
  border: 1px solid #aaa;
  flex: 1;
}

.input-form label {
  margin-right: 10px;
}

.dialog .close {
  margin-left: auto;
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}

.dialog .submit {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  background: black;
  color: white;
  font-weight: 400;
  opacity: 0.7;
  width: 50%;
}

.mute-children * {
  pointer-events: none;
}
